// Primary palette
$primary-blue = #3A5990;
$primary-teal = #00C9A8;
$primary-green = #8BC873;
$primary-yellow = #FAD73B;
$primary-orange = #ED8040;
$primary-red = #D46952;
$primary-pink = #E77286;
$primary-purple = #8D4B87;

// Greyscale palette
$greyscale-black = #1A1A1A;
$greyscale-darkest = #535353;
$greyscale-darker = #797979;
$greyscale-dark = #B5B5B5;
$greyscale-medium = #CBCBCB;
$greyscale-light =  #D8D8D8;
$greyscale-lighter = #F1F1F1;
$greyscale-lightest = #F5F5F5;
$greyscale-white = #FFF;
